@model IEnumerable<html_24_03.Models.Aluno>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Alunos</h1>

<div class=home-body>
<div class="home-div">
        <ul>
            @foreach (var item in Model) {
            <li>@Html.DisplayFor(modelItem => item.alunoNome) | @Html.DisplayFor(modelItem => item.alunoCurso.cursoNome)</li>
        }
        </ul>
    
</div>
</div>
@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.alunoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.alunoCurso)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.alunoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alunoCurso.cursosId)
            </td>
        </tr>
}
    </tbody>
</table>*@
